<mat-toolbar color="primary">
    <section class="right">
        <a routerLink="/" class="brand">
            <mat-icon>eco</mat-icon>
            Aquatech
        </a>
    </section>

    <section class="left">
        <button *ngIf="user; else loginRegisterSection" [mat-menu-trigger-for]="appMenu" class="menu-button"
            mat-mini-fab>
            <span>{{user.email[0] | titlecase}}</span>
        </button>
        <ng-template #loginRegisterSection>
            <button routerLink="sign-up" mat-raised-button color="accent">Register</button>
            <button routerLink="log-in" mat-raised-button color="accent">Login</button>
        </ng-template>

        <mat-menu #appMenu [class]="'mat-menu'">
            <div *ngIf="user" class="user-info">
                <div class="profile-image">
                    <p>
                        {{user.email[0] | titlecase}}
                    </p>
                </div>
                <div>
                    <p>{{user.id}}</p>
                    <p class="email">{{user.email}}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <div routerLink="/" mat-button class="menu-items">
                        <mat-icon>edit note</mat-icon>
                        Edit Profile
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="['/member/get-all']" routerLinkActive="router-link-active">
                    <div class="manu-items">
                        <mat-icon>flaky</mat-icon>
                        All Members
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="['/message/inbox']" routerLink="router-link-active">
                    <div class="menu-items">
                        <mat-icon>assignment_returned</mat-icon>
                        message
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-divider></mat-divider>
            <div class="logout">
                <button mat-raised-button (click)="logout()">Logout</button>
            </div>
        </mat-menu>
    </section>
</mat-toolbar>