<Main>
    <div>
        <h1>تجهیزات استخر</h1>
        <button mat-button color="primary">خرید</button>
        <button mat-button color="primary">دیدن جزئیات بیشتر</button>
    </div>
    <img src="../../../assets/images/N82989393-72471824.jpg" alt="">
    <div>
        <h1>تجهیزات جکوزی</h1>
        <button mat-button color="primary">خرید</button>
        <button mat-button color="primary">دیدن جزئیات بیشتر</button>

    </div>
    <img src="../../../assets/images/WhatsApp Image 2022-04-27 at 00.11.33.jpeg" alt="">
    <div>
        <h1>تجهیزات جانبی </h1>
        <button mat-button color="primary">خرید</button>
        <button mat-button color="primary">دیدن جزئیات بیشتر</button>
    </div>
    <img src="../../../assets/images/WhatsApp Image 2022-05-04 at 19.02.57.jpeg" alt="">
</Main>
