<!-- <footer>
    <div>
        <h4 class="right">همه چیز درمورد آکواتک</h4>
        <P class="contant">
            این کمپانی واقع در شهر تهران خیابان طالقانی مبباشد<br>
            <br>
            این شرکت در حوزه فروش تجهیزات استخر،سونا،جکوزی و تجهیزات دستگاه های تصفیه آب می باشد<br>
            <br> این کمپانی مفتخر است که با مشاوره رایگان بازدید از محل شما تجربه خرید خوبی را برای شما
            <br> به ارمغان بیاورد<br>
            <br>
            شما میتوانید از طریق واتس اپ ،تلگرام ،و اینستاگرام با کارشناسان این مجموعه در ارتباط باشید.<br>
        </P>
    </div>
    <div>
        <h4 class="middle">لینک های مرتبط </h4>
        <p class="contant">
            <li>SAND FILER</li><br>
            <li>CARTRIDGE FILTER</li><br>
            <li>HEATER</li><br>
            <li>PUMP</li><br>
            <li>LIGHTING</li><br>
            <li>COLORINE POWDER</li><br>
            <li>HEAT PUMP</li><br>
            <li>SKIMMER</li><br>
            <li>GRATING</li><br>
            <li>STARTING PLATFORM</li><br>
            <li>AUTOMATIC CLEANER</li><br>
            <li>STEAM GENERATOR</li><br>
        </p>
    </div>
    <div>
        <h4 class="left"> دیگر برندها</h4>
        <p class="contant">
            <li>EMAUX</li><br>
            <li>LASWIM</li><br>
            <li>HIWATER</li><br>
            <li>HARVIA</li><br>
            <li>SAWO</li><br>
            <li>MEGAPOOL</li><br>
            <li>CIPU</li><br>
            <li>HYWARD</li><br>
            <li>LEO</li><br>
            <li>MARTINI</li><br>
            <li>AQUASTRONG</li><br>
            <li>MR.POOL</li><br>
        </p>
    </div>
</footer> -->