<body>
  <form [formGroup]="userFg" class="example-form" (ngSubmit)="userFg.valid && logIn()">

    <mat-form-field class="example-full-width">
      <mat-label>نام کاربری</mat-label>
      <input type="username" formControlName="UsernameCtrl" label="Username" placeholder="Reza,...">

      @if(UsernameCtrl.hasError('regiured')){
      <mat-error>This is requied</mat-error>
      }
      @else if (UsernameCtrl.hasError('pattern')){
      <mat-error>Enter a valid Username</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> ایمیل </mat-label>
      <input formControlName="emailCtrl" placeholder="reza@gmail.com,..." value="">

      @if(EmailCtrl.hasError('required')){
      <mat-error>This is requied</mat-error>
      }

      @else if (EmailCtrl.hasError('pattern')){
      <mat-error>Enter a valid Email</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>رمز عبور</mat-label>
      <input formControlName="passwordCtrl" type="password" placeholder="******" value="">
      @if(PasswordCtrl.hasError('requierd')){
      <mat-error>This is requied</mat-error>
      }
      @else if (PasswordCtrl.hasError('minLenght')){
      <mat-error>t's too short. Min: 7 characters.</mat-error>
      }

      @else if (PasswordCtrl.hasError('maxLength')){
      <mat-error>t's too short. Min: 8 characters.</mat-error>
      }
    </mat-form-field>

    <button type="submit" [disabled]="userFg.invalid" color="primary">ورود به حساب کاربری</button>

    @if (apiErrorMessage){
    <p>{{apiErrorMessage}}</p>
    }
  </form>
</body>